.header {
  background-color: rgb(0 0 0 / 40%);
  min-height: 66px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: relative;
}

.top_logo_pink_link {
  display: block;
  width: 74px;
  height: 23px;
  background-image: url(template/pink.svg);
  background-repeat: no-repeat;
  z-index: 11;
  position: relative;
}
.active_link::after {
  content: "";
  background-image: url(template/underline.svg);
  display: block;
  width: 100%;
  height: 2px;
  top: 13px;
  position: relative;
}
.top_logo_pink_link:active {
  opacity: 0.3;
}

.first_page {
  background-image: url(template/back-mobile320_no_h.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.top_menu_item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}
.top_menu_item > a {
  color: white;
}
.top_menu_item > a:hover {
  color: #d22856;
  transition: 0.3s;
}
.top_menu_item > a:active {
  opacity: 0.3;
}

.header_burger {
  display: block;
  position: relative;
  width: 50px;
  height: 24px;
  z-index: 5;
}
.header_burger::before,
.header_burger::after {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 4px;
  display: block;
  content: "";
}
.header_burger::before {
  top: 0;
}
.header_burger::after {
  bottom: 0;
}
.header_burger span {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  height: 4px;
  display: block;
  top: 10px;
}

a {
  text-decoration: none;
}
.top_icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  padding: 0 20px;
}

.catalog_title {
  display: flex;
  margin: auto;
  margin-top: 28px;
  padding: 0 20px;
  margin-bottom: 77px;
}

.catalog_title_text {
  display: flex;
  margin: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: white;
  text-align: center;
}

.title_intro_text_tablet {
  display: flex;
  margin: 0 auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  color: white;
  padding: 0px 55px;
  text-align: center;
  margin-bottom: 16px;
}

.white_block {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 36px;
  margin-top: auto;
}
.white_block_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;
  padding: 0 33px;
  justify-content: center;
}
