.contacts {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}
.contacts_wrapper {
  z-index: 2;
  text-align: center;
}

.question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-top: 42px;
}

.contacts_title {
  margin: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-top: 10px;
}

.contacts_content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #d22856;
  margin: 0;
}

.contacts_title2 {
  margin: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-top: 16px;
}

.contacts_content2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #d22856;
  margin: 0;
}

.contacts_title3 {
  margin: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-top: 22px;
}

.contacts_content3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #d22856;
  margin: 0;
}
.triangle_map {
  width: 100%;
  position: absolute;
  max-width: 1200px;
  top: -1px;
}
.map_pic {
  width: 100%;
  max-width: 1200px;
  min-height: 200px;
  max-height: 500px;
}
.contatcs_map_pic {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.contacts_content:hover {
  text-decoration-line: underline;
  color: #283645;
  transition: 0.3s;
}
.contacts_content2:hover {
  text-decoration-line: underline;
  color: #283645;
  transition: 0.3s;
}
.contacts_content3:hover {
  text-decoration-line: underline;
  color: #283645;
  transition: 0.3s;
}
.contacts_content:active {
  opacity: 0.3;
}
.contacts_content2:active {
  opacity: 0.3;
}
.contacts_content3:active {
  opacity: 0.3;
}
