.research {
  min-height: 383px;
}

.research_wrapper {
  padding: 0 20px;
  display: flex;
  gap: 72px;
  width: 660px;
  margin: 0 auto;
  height: 330px;
}

.research_clock {
  margin-top: 53px;
}

.research_clock::before {
  content: "";
  background-image: url(template/BG_timer.svg);
  background-repeat: no-repeat;
  display: block;
  width: 238px;
  height: 276px;
}
.research_clock::after {
  content: "24";
  display: block;
  width: 202px;
  height: 202px;
  border: 16px solid #d22856;
  border-radius: 50%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 163px;
  align-items: center;
  text-align: center;
  color: #d22856;
  margin: 0 auto;
  position: relative;
  top: -220px;
}

.research_content {
  display: flex;
  flex-direction: column;
  width: 310px;
  margin-top: 95px;
}
.research_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.research_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin-top: 10px;
}
.research_link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-decoration-line: underline;
  color: #d22856;
  margin-top: 10px;
}
.research_link:hover {
  color: #283645;
}
.research_link:active {
  opacity: 0.3;
}
